<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TenorCodingChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>743020941E7B6E930015284E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>743020AB1E7B6E930015284E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>743020B61E7B6E930015284E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
